 <!-- About Section -->
    <section id="about">
        <div class="container">
            <!-- <div class="row">
                <div class="col-lg-12 text-xs-center section-header">
                    <h2>About Us</h2>
                    {% include heart.html type="primary" %}
                </div>
            </div> -->
            <div class="row">
                <div class="col-lg-6">
                    <p>Ed eccoci di nuovo qua, noi che vi inviamo un link e voi che lo aprite, insieme a distanza ci facciamo del ridere a leggere gli screenshot o a guardare dei video di mesi fa quando vi abbiamo comunicato l’ennisima scelta folle fatta da quei due pazzi, ma che in fondo amate.</p>
                    <p>A distanza di due anni ci ritroviamo nella medesima situazione, dall’ altra parte del mondo ad attendere la futura nascitura, che ancora non ha un nome quindi liberi di chiamarla Luisella, Ludmilla o ELLE.</p>
                    <p>Ripercorrendo quello che e’ stato fatto per l’erede maschio abbiamo deciso di rifare un sito con i doni che la Bimba necessita e con l’occasione vi ringraziamo dell’affetto che ci riuscite a trasmetterci oltreoceano. Si, perche’ nonostante il fuso e i chilometri che ci separano non vi e’ difficile  essere sempre presenti nella nostra vita sostenendoci nei momenti piu’ significativi.</p>
                </div>
                <div class="col-lg-6">
                    <p>Ora basta con le sdolcerie e veniamo al dunque, la secondogenita, come ben sapete sembra essere una femminuccia, nascera’  a Boulder, Colorado USA dove ora viviamo. L'ospedale dove verra’ alla luce si chiama <i>Foothills Hospital, Boulder Community Health</i> e sarà assistita da ottimi medici, ostetriche ed infermieri. Molti di voi sono in ansia di vedere la nascitura che come il fratello si fara’ desiderare e si presenterà in Italia solo al compimento del quinto mese.</p>
                    <p>Visti gli innumerevoli traslochi (ricordiamo che il “povero” Leonardo ha gia’ vissuto in 5 case differenti), non abbiamo quasi nulla per la Bimba quindi sentitevi liberi di effettuare qualunque tipo di regalo. Vista l’esperienza precedente abbiamo stilato la lista di oggetti e vestiti secondo le nostre preferenze. Vi ringraziamo in anticipo e come “sempre” un caloroso abbraccio.</p>
                    <p><b>#thiscrazyfamily</b></p>
                    <h4 style="float:right;">Alessandro e Giorgia</h4>
                </div>
            </div>
        </div>
    </section>
