                        <hr class="heart {{ include.type }}">
                        <i  class="heart {{ include.type }} fas fa-heart" aria-hidden="true"></i>
                        <i  class="sacrifice heart {{ include.type }} fas fa-heart" aria-hidden="true"></i>
                        <i  class="supersacrifice heart {{ include.type }} fas fa-heart" aria-hidden="true"></i>
                        <i  class="sacrifice heart {{ include.type }} fas fa-heart .hidden-xs" aria-hidden="true"></i>
                        <i  class="heart {{ include.type }} fas fa-heart" aria-hidden="true"></i>
                        <hr class="heart {{ include.type }}">
