 <!-- About Section -->
    <section class="success" id="howto">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center section-header">
                    <h2>Come funziona</h2>
                    {% include heart.html type="primary" %}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <p>Come potete ben vedere dalla lista che segue ci sono molti doni tra cui potete scegliere.
                    Sentitevi liberi di scegliere qualunque cosa o se preferite potete semplicemente fare un bonifico al padre di famiglia e penseremo noi a fare l'acquisto. Tutti gli articoli sono acquistabili su Amazon, l'indirizzo a cui vanno spediti è<i>{{ site.address }}</i></p>
                    <p>In entrambi i casi, dopo aver concluso la transizione vi chiediamo di inviarci una mail a <b>giorgiamancioppi@gmail.com</b> per segnalarci il dono che avete acquistato o il dono che vorreste che noi comprassimo con il versamento tramite bonifico (e opzionalmente un messaggino da postare nella sezione "Purchased/Reserved Gifts"), così da permetterci di eliminarlo dalla lista, ma soprattutto per darci la possibilità di rigraziarvi da oltre oceano :heart:</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <h3>Regalo con bonifico</h3>
                    <p> Se non siete esperti di acquisti on line transoceanici è possibile versare la cifra del dono con bonifico al CC non-transoceanico del padre di famiglia: <b>IBAN IT33Q0503432010000000023287 intestato a Alessandro Roncone</b>. </p>
                </div>
                <div class="col-md-6">
                    <h3>Regalo on-line</h3>
                    <p> Tutti gli articoli che abbiamo scelto sono acquistabili online (beata modernità), ed hanno un link che vi porta alla pagina d'acquisto. L'indirizzo a cui andranno spediti è: <b>{{ site.address }}</b></p>
                </div>
            </div>
        </div>
    </section>
