 <!-- About Section -->
    <section id="facceda">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center section-header">
                    <h2>Le vostre reazioni</h2>
                    {% include heart.html type="primary" %}
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12" style="margin-bottom: 40px;">
                    <p>Se volete farvi delle risate, qui sotto ci sono le vostre reazioni! Certi sono semplici screenshot, certi sono video perchè al padre di famiglia non piaceva l'idea degli screenshot :stuck_out_tongue_winking_eye:</p>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <div class="card-columns">
                {% for object in site.data.mosaic %}
                    <div class="card mb-3">
                        <a href="{% if object.link %}{{ object.link }}{% else %}img/mosaic/{{ object.filename }}{% endif %}" target="_blank">
                            <img class="card-img-top" src="img/mosaic/{{ object.filename }}" alt="Card image cap">
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
